# Phalanx Duel - Environment Template
# Copy this to .env.local (for dev) or .env.production.local (for prod)

# Required for App Startup
DATABASE_URL=

# Required for Deployment / Sentry
SENTRY_AUTH_TOKEN=
SENTRY__SERVER__SENTRY_DSN=
SENTRY__CLIENT__SENTRY_DSN=
VITE_SENTRY__CLIENT__SENTRY_DSN=

# Optional Overrides
# PHALANX_SERVER_PORT=3001
# PHALANX_ADMIN_PORT=3002
