global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 2000

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend phalanx-fe
    bind *:3001
    default_backend phalanx-be

    # Handle WebSockets
    acl is_websocket hdr(Upgrade) -i WebSocket
    use_backend phalanx-be if is_websocket

backend phalanx-be
    balance roundrobin
    # Round-robin ensures players are distributed across server-1 and server-2
    server server1 server-1:3001 check
    server server2 server-2:3001 check
